/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5em;
  margin: 0;
  font-weight: 300;
  color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
a {
  text-decoration: none;
}

.tab-inner {
  width: 300px;
  height: 350px;
}
input[name=tabmenu] {
  display: none;
}
.slide {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;  
}
.slide .slide-inner {
  position: absolute;
  width: 900px;
  font-size: 0;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.btn {
  text-align: center;
  margin-top: 10px;
}
.btn label {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: lightgray;
  border-radius: 50%;
  cursor: pointer;
}

input[id=tab1]:checked ~ .slide .slide-inner {
  left: 0;
}
input[id=tab2]:checked ~ .slide .slide-inner {
  left: -300px;
}
input[id=tab3]:checked ~ .slide .slide-inner {
  left: -600px;
}

input[id=tab1]:checked ~ .btn label[for=tab1],
input[id=tab2]:checked ~ .btn label[for=tab2],
input[id=tab3]:checked ~ .btn label[for=tab3] {
  background-color: crimson;
}